[include mainsail.cfg]
#[include stealthburner_led_effects_barf.cfg]
#[include stealthburner_led_effects_barf10.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450612083491C-if00 
restart_method: command

#[mcu EBB]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0B0019000450315741363420-if00
##canbus_uuid=a62a88bb28e3

[virtual_sdcard]
path: /home/denald/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 500
max_accel: 3000
#max_z_velocity: 25
#max_z_accel: 30

[neopixel board_rgb]
pin: gpio24
chain_count: 6
color_order: GRBW
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4
initial_WHITE: 0


[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio27
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#[filament_switch_sensor fil_det]
#switch_pin: EBB:PD0


#[heater_fan 3w_fan2]
#pin: EBB:PD2
#tachometer_pin: EBB:PA4


#[bltouch]
#sensor_pin: ^!EBB:PB8
#control_pin: EBB:PB5

#[output_pin rled]
#pin:EBB:PA2

#[temperature_sensor BME280]
#sensor_type: BME280
#i2c_mcu: EBB
##i2c_bus: i2c3_PA7_PA6
#i2c_software_scl_pin: EBB:PA7
#i2c_software_sda_pin: EBB:PA6

#endstop_pin: EBB:PA15
#diag_pin: ^EBB:PD1
#[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
#serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E6616408434E5036-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
#fan_power_coefficient: 0.8  # lower max power to keep things much more quiet

# If the fan isn't a DELTA BFB0712HF (StealthMax BOM), you'll probably want to add
#   fan_power_minimum: ???
#   fan_power_kick_start_minimum: ???
# See full-doc for details and some common values.

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail/Fluidd's temperature plot.
#[temperature_sensor nevermore_intake_VOC]#
#sensor_type: NevermoreSensor
#sensor_kind: intake
#plot_voc: true
##sensor_type: NevermoreSensor
#sensor_kind: exhaust
#plot_voc: true
#####################################################################
#   Chamber Temperature Sensor
#####################################################################
#[thermistor oven]
#temperature1: 25 
#resistance1: 10000
#beta: 3950


#[temperature_sensor Chamber_Temp]
#sensor_type: Generic 3950
#sensor_pin: gpio27 # PA7 is MOSI on the SPI header. Has an onboard 10K pullup to 3v3. Connect the other leg of the thermistor to ground
#sensor_type: oven

