[include mainsail.cfg]
[include homing.cfg]
[include macros.cfg]
[include shell_command.cfg]
#[include stealthburner_led_effects_barf.cfg]
# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

## Voron Design VORON 0.2 SKR Pico V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Motor currents                                                               [extruder] [stepper] and [_HOME_X/Y] macro sections
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

[mcu]
# Obtain definition by "ls -l /dev/serial/by-id/"
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450612083491C-if00 
restart_method: command

[temperature_sensor raspi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor pico]
sensor_type: temperature_mcu

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0B0019000450315741363420-if00
#canbus_uuid=a62a88bb28e3

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 30000
max_z_velocity: 5
max_z_accel: 100

[virtual_sdcard]
path: /home/denald/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[save_variables]
filename: ~/printer_data/config/variables.txt

[pause_resume]

[display_status]

[respond]

[exclude_object]

#[gcode_arcs]
#resolution = 0.1


#####################################################################
#   Extruder
#####################################################################
[extruder] # Moons CSE14HRA1L410A-01
step_pin: EBB:PB14
dir_pin: !EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
gear_ratio: 50:10                    # Gear ratio
rotation_distance: 22.452161589 
## When calibrating the extruder, update the following value
## Assume you request 100mm feed but get 98mm,
## New value = old value x (actual extruded length / target length)
## 22.6789511 is our recommended value
#rotation_distance: 47.088
#22.67895 #for 5mm Shaft Driven Bondtech gearsets
#8t 22.114244145
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 2200
sensor_pin: EBB:PA3
## Nozzle temperature PID calibration command: "PID_CALIBRATE HEATER=extruder TARGET=245"
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 350
min_extrude_temp: 0
max_power: 1.0
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 5
pressure_advance: 0.0                                               # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 0              # Set to 0 for spreadcycle, avoid using stealthchop on extruder
interpolate: False

[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time (default 20/60)
hysteresis: 50                       # Tolerance temperature (default 5)
heating_gain: 2                      # Heating gain

[firmware_retraction]
retract_length = 0.4
retract_speed = 30
unretract_speed = 30

#####################################################################
# Neopixel
#####################################################################
#[neopixel board_rgb]
#pin: gpio24
#chain_count: 10
#color_order: GRB
#initial_RED: 0.4
#initial_GREEN: 0.4
#initial_BLUE: 0.4
#initial_WHITE: 1


#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x] #moons-ms17hd6p420i
step_pin: gpio11
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio10                                                     # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !gpio12
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 80
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
interpolate: false
run_current: 0.69       
# you need to calculate the run_current value using the equation (rated_motor_current * 0.707 = Maximum_run_current) start with a value that is about 60%-70% of your maximum value.
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^gpio4    												# YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 125  												# this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

[stepper_y]
step_pin: gpio6
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio5                                                      # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !gpio7
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 80
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
interpolate: false
run_current: 0.69           
# you need to calculate the run_current value using the equation (rated_motor_current * 0.707 = Maximum_run_current) start with a value that is about 60%-70% of your maximum value.
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^gpio3    												# YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 125  												# this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28                                                    # Remove the ! before gpio28 if motor direction is inverted.
enable_pin: !gpio2
rotation_distance: 8                                                # For T8x8 integrated lead screw
microsteps: 16
endstop_pin: ^gpio25
#position_endstop: 120
position_max: 120
position_min: -5
homing_speed: 30
second_homing_speed: 3.0
homing_retract_dist: 3.0


[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: false
## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A 
#run_current: 0.2
## For LDO-42STH25-1004CL200E 1.0A
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle




#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type:
sensor_pin: gpio27
smooth_time: 3.0

## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 120 #default is 120
# check_gain_time: 120
# heating_gain:1


#####################################################################
# Fan Control
#####################################################################
[multi_pin part_fan]
pins: EBB:PD3, EBB:PA5

[fan]
pin: multi_pin:part_fan
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010
#pin: gpio17
#pin: gpio18

[heater_fan hotend_fan]
pin: EBB:PD2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: EBB:PA4
tachometer_ppr: 2

[heater_fan MCU_fan]
pin: gpio20
max_power: 1.0
kick_start_time: 0.5
heater: extruder
fan_speed: 0.4
#idle_timeout: 60

#####################################################################
#   Filament Runout Sensor
#####################################################################

#[filament_switch_sensor Filament_Runout_Sensor]
#pause_on_runout: True
#runout_gcode: PAUSE
#switch_pin: gpio16

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
gcode:
    {% if not (printer.pause_resume.is_paused) %}
        RESPOND MSG="Idle timeout reached"
        TURN_OFF_HEATERS
        M84
        #halo_off
        #SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=hotend_fan TARGET=45
        #SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_heater TARGET=0

    {% endif %}
timeout: 7200

[bed_screws] ## To be used with BED_SCREWS_ADJUST
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#[safe_z_home]
##home_xy_position: 120,120 										# these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
#speed: 50.0 
#z_hop: 5

#[heater_fan 3w_fan2]
#pin: EBB:PD2
#tachometer_pin: EBB:PA4


#[bltouch]
#sensor_pin: ^!EBB:PB8
#control_pin: EBB:PB5

#[output_pin rled]
#pin:EBB:PA2

#[filament_switch_sensor fil_det]
#switch_pin: EBB:PD0

#[temperature_sensor BME280]
#sensor_type: BME280
#i2c_mcu: EBB
##i2c_bus: i2c3_PA7_PA6
#i2c_software_scl_pin: EBB:PA7
#i2c_software_sda_pin: EBB:PA6

#endstop_pin: EBB:PA15
#diag_pin: ^EBB:PD1
#[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
#serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E663AC91D33A6F32-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
#fan_power_coefficient: 0.8  # lower max power to keep things much more quiet

# If the fan isn't a DELTA BFB0712HF (StealthMax BOM), you'll probably want to add
#   fan_power_minimum: ???
#   fan_power_kick_start_minimum: ???
# See full-doc for details and some common values.

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail/Fluidd's temperature plot.
#[temperature_sensor nevermore_intake_VOC]#
#sensor_type: NevermoreSensor
#sensor_kind: intake
#plot_voc: true
##sensor_type: NevermoreSensor
#sensor_kind: exhaust
#plot_voc: true


#####################################################################
#   Chamber Temperature Sensor
#####################################################################
#[thermistor oven]
#temperature1: 25 
#resistance1: 10000
#beta: 3950


#[temperature_sensor Chamber_Temp]
#sensor_type: Generic 3950
#sensor_pin: gpio27 # PA7 is MOSI on the SPI header. Has an onboard 10K pullup to 3v3. Connect the other leg of the thermistor to ground
#sensor_type: oven

[include shell_command.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 116.615
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.572
#*# pid_ki = 2.252
#*# pid_kd = 522.003
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.230
#*# pid_ki = 6.154
#*# pid_kd = 44.861
